@import '../../utils/variables.scss';

.root {
  border: 0;
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 3px;
  background-color: $primary;
  color: $white;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &[disabled] {
    background-color: $gray;
    cursor: no-drop;
  }
}
